:root {
  --web: #2196f3;
  --bgc1: #ffff;
  --bgc2: #2f303a;
  --bgc3: #f5f4fa;
  --txth: #212121;
  --txt: #757575;
  --border: #ececec;
}

body {
  background-color: var(--bgc1);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;

  height: 80px;
  border-bottom: 1px solid var(--border);
}

.logo {
  font-weight: 700;
  color: var(--web);
  margin: 24px 215px 25px 93px;
  text-decoration: none;
}

.logoblack {
  color: #000000;
}

.logowhite {
  color: var(--bgc1);
}

nav {
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

nav:hover,
:focus,
:active {
  color: var(--web);
  font-weight: 500;
  line-height: 1.1;
}

.effective {
  background-color: var(--bgc2);
  color: var(--bgc1);
  height: 600px;
}

h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: var(--bgc3);
  background: var(--web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

article h3 {
  color: var(--txth);
}

article p {
  color: var(--txt);
}

.our-work {
  border-left: 30px;
  border-right: 30px;
}

footer {
  color: var(--bgc1);
  background-color: var(--bgc2);
  height: 252px;
  text-decoration: none;
}

.contact {
  text-align: right;
}
